table {
    width: 900px;
    margin: 10px;
    
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  th{
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
  }
  
  