<mat-toolbar class="toolbar-style">
    <img src="assets/images/logo.png" alt="logo" class="logo">
    <a class="toolbar-style-link" href="#">Home</a>
</mat-toolbar>
<div class="container">
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <h3>Create an account.</h3>
    <h4><i>It's free and takes only a minute.</i></h4>
    <mat-form-field class="register-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter Name" name="name"  formControlName="name" required>
      <mat-error *ngIf="registerForm.controls['name'].hasError('required')">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>
  
    <mat-form-field class="register-full-width">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Enter Address" name="addr" formControlName="addr">
    </mat-form-field>
  
    <mat-form-field class="register-full-width">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Choose a Date of Birth" name="dob" formControlName="dob" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
      <mat-hint>Click on calendar icon to pick a date.</mat-hint>
      <mat-error *ngIf="registerForm.controls['dob'].hasError('required')">{{getDOBErrorMessage()}}</mat-error>
    </mat-form-field>
  
    <mat-form-field class="register-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter email address" name="email" formControlName="email" required>
      <mat-error *ngIf="registerForm.controls['email'].hasError('required')">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="registerForm.invalid">Register</button><br>
    <mat-hint>Enter all the required values to activate register button</mat-hint>
  </form>
</div>

<table>
  <thead>
    <th> Name </th>
    <th> Address </th>
    <th> Date of Birth </th>   
    <th> Email </th>
  </thead>
  <tbody *ngFor="let form of dataList">
    <td>{{ form.name }}</td>
    <td>{{ form.addr }}</td>
    <td>{{ form.dob }}</td>
    <td>{{ form.email }}</td>
    <td><button (click)="onDelete(form)">X</button></td>
  </tbody>
      
</table>
 